body {
    background-color: rgb(242, 235, 227);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    display: grid;
    max-width: 575px;
    margin: 0px auto;
}

.img {
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    height: auto;
    border-radius: 10px 10px 0px 0px;
}

.title {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 0.7rem;
    margin: 10px 0px;
}

h1,
span {
    font-family: Fraunces, serif;
}

h1 {
    margin: 0px;
    color: rgb(28, 35, 43);
    line-height: 2rem;
}

.content {
    padding: 5px 25px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.content p {
    font-size: 14px;
    line-height: 1.3rem;
}

.content p,
.title,
button {
    font-family: Montserrat, sans-serif;
    color: rgb(108, 114, 137);
}

.prices .actual-price {
    color: rgb(60, 128, 103);
    font-size: 1.7rem;
}

.prices .old-price {
    color: rgb(108, 114, 137);
    font-size: 0.8rem;
    text-decoration: line-through;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
}

.prices {
    display: flex;
    gap: 20px;
    align-items: center;
}

button {
    width: 100%;
    padding: 0.9rem;
    margin: 12px 0px;
    background-color: rgb(60, 128, 103);
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.button-content {
    display: flex;
    gap: 10px;
    justify-content: center;
}

button:hover {
    background-color: rgb(29, 62, 50);
}

@media only screen and (min-width: 600px) {
    .container {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        overflow: hidden;
        border-radius: 7px;
    }

    .img {
        border-radius: unset;
        height: auto;
       
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

